@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*
{
  padding: 0;
  box-sizing: border-box;
}

html, body 
{
  height: 100%;
  margin: 0;
}

body 
{
  font-family: 'Inter', sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-size: 1.2rem;
}

dialog
{
  padding: 0;
  border: none;
  width: calc(100% - 32px);
  max-width: calc(768px - 32px);
  border-radius: 0.4rem;
  
}
#add-book--form, #edit-book--form
{

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem;
  border-radius: 0.4rem;
  justify-content: center;
  margin-inline: auto;
}

#add-book--form > input[type="text"], #add-book--form > textarea, #edit-book--form > input[type="text"], #edit-book--form > textarea{
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
 
  background: rgba(231, 231, 231, 0.388);
}

#add-book--form > input[type="text"]:focus, #add-book--form > textarea:focus, #edit-book--form > input[type="text"]:focus, #edit-book--form > textarea:focus
{
  outline: none;
}

.form-buttons{
  display: flex;
  gap: 1rem;
}

.form-buttons > *
{
  flex: 1;
}

.header > .header-content
{
  background: white;
  padding: 16px 16px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .header-content > h1{
  font-weight: 200;
  margin: 0;
}
.footer > .footer-content
{
  background: white;
  margin-inline: auto;
  padding: 16px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > .footer-content > p
{
  font-weight: 300;
  margin: 0;
}

main
{
  background: white;
  display: grid;
  grid-template-rows:1fr;
  padding: 1rem 1rem;
  margin-inline: auto;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.button-theme
{
  border: none;
  background: rgb(44, 44, 44);
  color: white;
  font-family: inherit;
  padding: calc(0.5rem - 2px) calc(1rem - 2px);
  border-radius: 0.4rem;
  font-weight:bold;
  font-size: 1rem;
  border: 2px solid rgb(44, 44, 44);
}

button:active
{
  background-color: white;
  color: rgb(44, 44, 44);
}

main > .content
{
  width: 100%;
  max-height: 75vh;
  min-height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  grid-template-rows: max-content;
  gap: 1rem;
  padding: 5px;

}

.book-theme
{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.33);  
  background: white;
  border-radius: 0.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.book > .buttons-container{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.book > .buttons-container > .buttons{
  display: flex;
  gap: 1rem;
}
.book > .buttons-container > .buttons > button{
  flex: 1;
}
.book > .buttons-container > .pages{
 display: flex;
 width:100%;
 margin-inline: auto;
 align-items: center;
 gap: 0.5rem;
}

.book > .buttons-container > .pages > button
{
  flex: 1;
}

.book > .book-description, .book > .total-pages--container, .book > h4{
  margin: 0;
}
.book > .total-pages--container > .total-pages
{
  overflow-wrap: break-word;
}
.book > .buttons-container > .pages > .pages-read
{
  min-width: 0;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  width: 100px;
  padding: 0.3rem 1rem;
  justify-self: center;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

